table {
    border-collapse: collapse;
    text-indent: initial;
}

tr {
    cursor: pointer;
}

td {
    user-select: none;
}

button {
    background-color: darkmagenta;
    color: white;
    padding: 16px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.horizontal_layout {
    display:inline;
}

.session_list {
    border-color: lightgray;
    border-width: 1px;
    overflow: auto;
}