.horizontal_layout {
    display:inline;
}

.button {
    background-color: darkmagenta;
    color: white;
    padding: 16px;
    margin: 8px;
    border: none;
    border-radius: 5px;
}

.session_list {
    border-color: grey;
    border-width: 1px;
    overflow: auto;
}